<div class="container" style="margin-top: 40px; margin-left: 40px;">
    <div class="text" style="margin-bottom: 30px;">
      Update Company Credentials
    
    </div>
   
    <form [formGroup]="updateForm"  enctype="multipart/form-data" >
       <div class="form-row">
          <div class="input-data">
             <input formControlName="name" type="text" required>
             <div class="underline"></div>
             <label for="">name</label>
          </div>
          <div class="input-data">
             <input formControlName="phoneNumber" type="text" required>
             <div class="underline"></div>
             <label for="">phoneNumber</label>
          </div>
       </div>
       <div class="form-row">
          <div class="input-data">
             <input formControlName="email" type="text" required>
             <div class="underline"></div>
             <label for="">email</label>
          </div>
          <div class="input-data">
         
          </div>
       </div>
      
       <div class="form-row">
        
       <div class="input-data textarea">
          <br />
          <div  class="form-row submit-btn" style="margin-top: 100px;position: relative; left: 35%;" >
             <div class="input-data">
                <div class="inner"></div>
                <input  type="submit" value="update" (click)="handleUpdateCompany()">
             </div>
          </div>
          </div>
        
          

    </div>
    <!-- <div class="form-row" >
        <input type="file" id="file" (change)="onFileSelected($event)" />
        <label  [style.background]="isConditionMet ? '#107579' : '#c5c3c3'" for="file">Choose a image </label>
        <p style="margin:10px ;" *ngIf="selectedFile">Selected File: {{ selectedFile.name }}</p>
        

       </div> -->
       </form>