/* Extra */
$primary: #fff;
$secondary: #ccc;
$ternary: #272727;
$dark: #444444;
.menu-item:hover{
    cursor: pointer;

}

  
  .sub-nav {
   border: 1px solid #ccc;
      display: none;
     position: absolute;
      background-color: $primary;
       padding: 5px 5px;
    list-style: none; 
     width: 150px;   
      @media screen and (max-width: 768px) {
        position: relative;
        width: 100%;
        display: none;
        background-color: rgba(0, 0, 0, 0.20);
        box-sizing: border-box;
      }
  }
  
   .nav__link {
     &:hover + .sub-nav {
          display:block;
  
   }
  }
  
  .sub-nav {
    &:hover {
      display:block;
    }
  }