
<img class="wave" src="/assets/images/p3.png">
	<div class="container">
		<div class="img">
			<img src="/assets/img/imagelog.png">
		</div>
		<div class="login-content">
			<form  [formGroup]="loginForm" >
				<h2 class="title">Please Enter Your Email</h2>
     
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		
           		   		<input placeholder="email" formControlName="email" type="email" class="input">
           		   </div>
           		</div>
           	
          	
            
        
            	<input type="submit"  (click)="forgetPassword()"   class="btn" value="Send">
            </form>
        </div>
    </div>


    
